@model IEnumerable<TesteRepositorioFotos.Models.Fotos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            <img class="img-responsive" src="@item.Url" style="height: 300px;width:100%;" alt="">

        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FotosId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FotosId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FotosId })
        </td>
    </tr>
}

</table>
